.page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    background-color: chocolate;
    left: 0;
    border-bottom: dotted rgb(90, 9, 9) 5px;
}

body {
    margin: 0;
}

div{
    box-shadow: inset 0 0 0 5px rgb(21, 4, 82);
    width: 100%;
    height: 100%;
    background-color: azure;
}

.page div{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#page {
    top: 0;
}

#page2 {
    grid-template-columns: 3fr 1fr;
}

#page2 .right{
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#page3 {
    grid-template-rows: 2fr 3fr;
}

#page3 .top {
    grid-template-rows: 1fr 1fr;
}

#page3 .bottom {
    grid-template-columns: 1fr 1fr;
}

#page3 .bottom .right{
    grid-template-rows: 1fr 1fr 1fr;
}

#page4 {
    grid-template-rows: 1fr 1fr;
}

#page4 .inset {
 width: 50%;
 height: 50%;
}

#page4 .top {
    grid-template-columns: 1fr 1fr;
}

#page4 .bottom {
    grid-template-columns: 1fr 1fr;
}
