@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Comic+Relief:wght@400;700&display=swap');


body,*{
    background-color:burlywood;
    font-family: "Comic relief";
    margin: 0;
    padding: 0;
}

.menu-wrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(56, 0, 46, 0);
}

.burger-icon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2.3rem;
    color: azure;
    z-index: 103;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s ease-in-out;

}

.menu-wrapper:has(sidebar:hover) .burger-icon, .burger-icon:hover{
        background-color: rgba(166, 255, 0, 0.8);
}

.sidebar{
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: rgb(100, 12, 28);
    color: aqua;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
}

.burger-icon:hover + .sidebar,.sidebar:hover{
    left: 0;

}

.sidebar a{
    font-size: 1.5;
    display: block;
    color: antiquewhite;
    cursor: pointer;
    margin: 1rem 0;
    text-decoration: none;
    background-color: rgb(105, 121, 0);
    opacity: 0.4;
    transition: opacity 0.1394s ease-in-out, 
        transform 0.3s ease-in-out;
    
}

.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.5rem);
    filter:drop-shadow(0 0 25px rgb(148, 56, 108))
}

.page{
    color: pink;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    display: grid;
    place-items: center;
    position: fixed;
    left: -100vw;
    transition: all 1s ease-in-out; 
}

.show{
    left:0;
}

#page1 .middle {
    height: 70%;
    width: 80%;
    transition: all 9s ease-in-out; 
    background-color: darkgoldenrod;
}

#page1 .middle:hover{
    transform: scale(1.1);
}

#page2{
    grid-template-rows: 1fr 3fr;
}

.page div{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

#page2 .top{
    background-color: bisque;
}
#page2 .bottom{
    border: 3vw outset lime;
    background-image: url(./Assets/Funny_img.jpg);
    background-size: cover;
}

#page3{
    grid-template-columns: 100fr 100fr;
}

h1{
    font-weight: 300;
    font-size:  3rem;
}

#page3 .left{
    background-color: darksalmon;
    grid-template-rows: 1fr 3fr;
}

#page3 .left .bottom{
    background-color: indianred;
}

#page3 .right{
    background-color: rgb(197, 162, 133);
}

#page3 .right .box{
    height: 50%;
    width: 70%;
    display: grid;
    grid-template-rows: 2fr 6fr;
}

#page3 .right .box .bottom{
     background-image: url(./Assets/Funny_img.jpg);
     background-size: cover;
}

#page4{
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

#page4 .leftmost{
    background-color: rgb(223, 208, 149);
}

#page4 .leftmid{
    background-color: rgb(175, 175, 118);
}

#page4 .rightmid{
    background-color: rgb(228, 144, 178);
}

#page4 .rightmost{
    background-color: rgb(252, 203, 176);
}

#page5 {
    grid-template-columns: 1fr 1fr;
}

#page5 .right{
    grid-template-rows: 1fr 1fr;
}

#page5 .left{
    background-color: blue;
}

#page5 .right .bottom{
    background-color: khaki;
    position: relative;
}

#page5 .right .top h1{
    background-color: rgb(240, 140, 140);
    overflow: hidden;
}

#page5 .right .bottom video{
object-fit: cover;
width: 100%;
height: 100%;
}

#videoButton {
    position: absolute;
    top: 7rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(149, 224, 4,0.6);
    color: blanchedalmond;
    border: 1px solid darkolivegreen ;
    z-index: 20;
    transition: .3s ease-in-out all;
}

#videoButton:hover{
    border: 3px dotted hotpink;
}